<h1 id="ContactUs">Contact Us</h1>

<form
  action="branden.arthur13@gmail.com"
  method="POST">
  <label class="required">
    Full Name:
    <input type="text" id="fullName" name="fullName">
  </label>
  <label class="required">
    Your Email:
    <input type="email" id="mail" name="email">
  </label>
  <label>
    Message:
    <textarea name="message"></textarea>
  </label>
  <input type="submit" value="Send">
</form>