<nav>
  <ul>
    <button class="homeButton"><a href="/">SF</a></button>
    <li class="spacing"><a href="/#gallery">Destinations</a></li>
    <li class="spacing"><a href="/#contactUs">Contact Us</a></li>
    <li class="spacing"><a href="/register">Sign Up</a></li>
    <li class="spacing"><a href="/login">Login</a></li>

  </ul>
</nav>