<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seafoam Travel</title>

  <%- include('./partials/css-global'); %>
<style>

</style>
</head>
<body>
  <%- include('./partials/nav.ejs'); %>
  <main>
    <h1>Oops!</h1>
    <p>It seems the page you are looking for can't be found.</p>
  </main>
  <%- include('./partials/foot'); %>
</body>

</html>