<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tofino Surf and Hike</title>
  <%- include('./partials/css-global'); %>
</head>
<body>
  <%- include('./partials/nav'); %>
  <main class="full-vh center-items">
    <figure>
      <img src="http://picsum.photos/id/1019/600" alt="Tofino">
      <figcaption>Tofino Surf and Hike</figcaption>
    </figure>
  </main>
  <%- include('./partials/foot'); %>
</body>
</html>