<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seafoam Travel Register</title>
  
  <%- include('./partials/css-global'); %> 
  
</head>
<body>

  <%- include('./partials/nav.ejs'); %>

  <main>

    <h1>Register</h1>

    <form
    action="branden.arthur13@gmail.com"
    method="POST"
  >
    <label class="required">
      Full Name:
      <input type="text" id="fullName" name="fullName">
    </label>
    <label class="required">
      Your Email:
      <input type="email" id="mail" name="email">
    </label>
    <label class="required">
      Password:
      <input type="password" name="password" minlength="8" maxlength="25">
    </label>
    <label class="required">
      Confirm Password:
      <input type="password" name="confirmPassword" minlength="8" maxlength="25">
    </label>
      Subscribe to Newsletter
    <input type="checkbox">
    <label for="checkbox">
    </label>
    <input type="submit" value="Send">
  </form>

  </main>

  <%- include('./partials/foot'); %>

  <%- include('./partials/form-js.ejs'); %>

</body>
</html>